@media screen and (max-width:1274px)and (min-width:1172px) {
    .dropdowntp {
        display: none;
    }
    .numtel {
        margin-left: 55px;
        margin-right: 55px;
    }
    .more {
        display: block;
        margin-left: 12%;
    }
    .addbut {
        height: 30px;
        width: 25px;
        margin-top: 5px;
        border: 0;
        background-color: #558cca;
    }
}