<div class="container">
    Article Manager
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Tools</th>
            </tr>
        </thead>
        <tbody>
            <%post.forEach(function(a){%>
                <tr>
                    <td>
                        <%=a.id%>
                    </td>
                    <td>
                        <%=a.title%>
                    </td>
                    <td>
                        <%=a.author.name%>
                    </td>
                    <td>
                        <a class="btn btn-info" role="button">View</a>
                        <a class="btn btn-info" href="" role="button">Edit</a>
                        <a href="/posts/delete/<%=a.id%>" class="btn btn-info" role="button">Delete</a>
                    </td>
                </tr>
                <%})%>
        </tbody>

    </table>
</div>