<style>
    .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        width: 20em;
    }
</style>
<div class="container">
    Article Manager
    <table id="table">
        <thead>
            <tr>
                <th>#</th>
                <th class="ellipsis">Title</th>
                <th>Created At</th>
                <th>Author</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Created At</th>
                <th>Author</th>
                <th>Tools</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    var tab;
    $(document).ready(function() {
        $('#table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "/getDataTable"
        });
    });
</script>