<style>
    .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        width: 15em;
    }
</style>
<div class="container">
    Article Manager
    <table id="table" style="width: 100%;">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Created At</th>
                <th>Author</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>#</th>
                <th class="ellipsis">Title</th>
                <th>Created At</th>
                <th>Author</th>
                <th>Tools</th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Created At</th>
                <th>Author</th>
                <th>Tools</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    var tab;
    $(document).ready(function() {
        $('#table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "/getDataTable",
            "columnDefs": [{
                className: "ellipsis",
                "targets": [1]
            }, {
                "name": "_id",
                "targets": 0
            }, {
                "name": "title",
                "targets": 1
            }, {
                "name": "createdAt",
                "targets": 2
            }, {
                "name": "tri.name",
                "targets": 3
            }, {
                "targets": 4,
                "orderable": false
            }]

        });
    });
</script>