<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <h1>Create post</h1>

            <form>

                <div class="form-group">
                    <label style="font-size:20px;">Title</label>
                    <input type="text" id="title" class="form-control" />
                </div>
                <div class="form-group">
                    <label style="font-size:20px;">Picture</label>
                    <input type="file" id="picture" class="form-control" />
                </div>
                <div style="margin-bottom: 10px;" id="imgHelp" role="alert"></div>
                <div class="form-group">
                    <label style="font-size:20px;" for="description">Description</label>
                    <textarea rows="5" id="description" class="form-control" name="description"></textarea>
                </div>

                <div class="form-group">
                    <button type="button" id="makepost" class="btn btn-primary">
    		            Create
    		        </button>
                </div>

            </form>
        </div>

    </div>
</div>
<script>
    const picture = document.getElementById("picture");
    const make = document.getElementById("makepost");

    var imageFile;
    picture.addEventListener('change', (e) => {
        const imageRegex = (/\.(gif|jpg|jpeg|tiff|png)$/i);
        imageFile = event.target.files[0];
        var imageSrc;
        if (!imageRegex.test(imageFile.name)) {
            document.getElementById("imgHelp").innerHTML = "Not image, please choose again";
        } else if (imageFile.size > 400000) {
            document.getElementById("imgHelp").innerHTML = "Too big size, please choose again";
        } else {
            document.getElementById("imgHelp").innerHTML = " ";
            const fileReader = new FileReader();
            fileReader.readAsDataURL(imageFile);
            fileReader.onloadend = ((data) => {
                imageSrc = data.currentTarget.result;
                document.getElementById("imgHelp").insertAdjacentHTML(
                    `beforeend`, `<img src="${imageSrc}" alt='preview'></img>`
                )
            });
        }
    })
    make.addEventListener('click', (e) => {
        const formData = new FormData();
        formData.append("picture", imageFile);
        console.log(formData);
        fetch(`http://localhost:1337/posts/upload`, {
                method: "POST",
                credentials: "include",
                headers: {
                    Accept: "application/json"
                },
                body: formData
            })
            .then((res) => {
                return res.json();
            })
            .then((data) => {
                console.log(data);
                const title = document.getElementById("title");
                const description = document.getElementById("description");
                fetch("http://localhost:1337/posts/createpost", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            title: title.value,
                            description: description.value,
                            picture: data.url
                        }),
                        credentials: "include"
                    })
                    .then((res) => {
                        return res.json();
                    })
                    .then((data) => {
                        window.alert(data.message);
                        window.location.assign(`/`);
                    })
            })
    })
</script>