<script src="/js/signin.js"></script>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" id="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" id="Pass" class="form-control" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" id="check" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Keep me sign in</label>
  </div>
  <button type="submit" id="Send" class="btn btn-primary">Login</button>
</form>